.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 15px;
}

.clear {
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover {
    opacity: 0.6;
  }
}
